@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@200;300;400;500&display=swap');

body{
    font-family: 'Raleway', sans-serif ;
    margin: 0;
}

.header{
    background: white;
    
}

.menu{
    background-color: rgb(237, 238, 238);
    padding: 0.5em;
    text-align: center;
}

input[type = button]{

    font-family: 'Montserrat', sans-serif;
    border: none;
    background: transparent;
    font-size: 80%;
    
}

input[type = button]:hover{

    opacity: .5;
    cursor: pointer;
}



h1{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
   
}

.normal-image {
    width: 100%;
    

}

.cropped-image{
    width: 100%;
    display: none;
}



h2{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}

.featured-title{
    font-weight: 300;
    text-align: center;
}



@media (min-width:900px) {
    .normal-image {
        display: none;
        
    
    }
    
    .cropped-image{
        width: 100%;
        display: block;
    }
    
}


