@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Raleway:wght@200;300;400;500&display=swap');

body{
    font-family: 'Raleway', sans-serif ;
    margin: 0;
    text-align: center;
}

.header{
    background: white;
    padding-top: 0.3em;
    position: fixed;
    width: 100%;
    
}

.menu{
    background-color: rgb(237, 238, 238);
    padding: 0.7em;
    text-align: center;
}

.menu input[type = button]{

    font-family: 'Montserrat', sans-serif;
    border: none;
    background: transparent;
    font-size: 80%;

    
}

input[type = button]:hover{

    opacity: .5;
    cursor: pointer;
}



h1{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
   
}

.normal-image {
    width: 100%;
    

}

.cropped-image{

    width: 100%;
    display: none;

}



.featured-container{
    text-align: center;
}

h2{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}

h3{
    font-weight: 300;
}

.featured-container p{
    font-weight: 100;
}

.coding-showcase{
    display: grid;
    background: rgb(241, 241, 241);

}


.penguin{
    width: 100%;
    height: auto;
}

.penguin:hover{
    cursor: pointer;

    opacity: 0.5;
  
}

.bottom-page{
    
    padding-top: 2em;
    font-family: 'Montserrat',sans-serif;
}

.bottom-page h5{
   

    font-weight: 400;
}

.linkedin:hover{
    cursor: pointer;
}



@media (min-width:900px) {
    .normal-image {
        display: none;
        
    
    }
    
    .cropped-image{
        width: 100%;
        display: block;
        padding-top: 7.5em;
    }

    .img1-container{
        width: 50%;
    }

    .img2-container{
        width: 50%;
    }
    
}


